body {background-color:#cde;}
* {color:darkblue;}
* {font-family:"Verdana";}
#nav1 {float: left; margin-left: 7px; margin-right: 7px; }
#nav2 {float: left; margin-left: 7px; margin-right: 7px; }
#nav3 {float: left; margin-left: 7px; margin-right: 7px; }
#nav4 {float: left; margin-left: 7px; margin-right: 7px; }
#nav5 {float: left; margin-left: 7px; margin-right: 7px; }
#nav6 {float: left; margin-left: 7px; margin-right: 7px; }
#title {text-align:center;}